<section class="card">
    <h1>{{comic.title}}</h1>
      <img src="/images/{{comic.filename}}" style="max-height: 300px;">
      <p>By, {{comic.writer}}</p>
      <p>Published: {{comic.published_on}}</p>
      <p>{{comic.description}}</p>
</section>


  {{#if loggedIn}}
    {{#each comments as |comment|}}
      <div class="comment">
        <p>{{comment.text}}</p>
        <p>Posted by: {{comment.user.username}}</p>
        {{#if comment.sameUser}}
        <label for="updateComment">Enter updated comment</label>
        <input type="text" id = 'updateCom'>
        <button class="updateBtn" type="submit">Update Comment</button>
        <button class="delete-comment-btn" type="submit" data-commentId="{{comment.id}}">Delete Comment</button>
        {{/if}}
      </div>
    {{/each}}
    {{/if}}
  
{{#if loggedIn}}
  {{#unless comments}}
    <div class="no-comments">
      <p>No comments are available.</p>
    </div>
  {{/unless}}
  <section id="commentBtns">
      <input data-id="{{comic.id}}" type="text" id="newComment">
      <button data-id="{{comic.id}}" class="btn btn-primary" type="button" id="addComment">Add Comment</button>
  </section>
  {{/if}}
{{#unless loggedIn}}
  <div class="login-message">
    <p>You must be logged in to view comments.</p>
  </div>
{{/unless}}

<script src="/js/comment.js"></script>

<script src="/js/deleteComment.js"></script>