{{#each featuredComic as |comic|}}
<div data-id="{{comic.id}}" class="homePost">
    <img src="images/{{comic.filename}}"style="max-height: 300px" data-id="{{comic.id}}" class="homePost">
    <h2 data-id="{{comic.id}}" class="homePost">{{comic.title}}</h2>
    <p data-id="{{comic.id}}" class="homePost">By, {{comic.writer}}</p>
    <p data-id="{{comic.id}}" class="homePost">Published: {{comic.published_on}}</p>
    <p data-id="{{comic.id}}" class="homePost">{{comic.description}}</p>
</div>
{{/each}}