{{#each featuredComic as |comic|}}
<div>
    <img src="images/{{comic.filename}}"style="max-height: 300px">
    <h2>{{comic.title}}</h2>
    <p>By, {{comic.writer}}</p>
    <p>Published: {{comic.published_on}}</p>
    <p>{{comic.description}}</p>
</div>
{{/each}}